doctype html
// client
html
  head
    title Caro
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/styles/caro.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
  body
    video#myVideo(autoplay='', muted='', loop='', style='position: fixed;right: 0;bottom: 0;min-width: 100%; min-height: 100%;')
      source(src='../images/background1.mp4', type='video/mp4')
    .header(style='z-index: 100;')
      a.header-btn.logo(href='/caro')
        i.fas.fa-home(style='font-size: 100%;color: white; margin: auto 6px;')
      #account.account
      .account-click
        #user-info.user-info
        .border-bottom
          a(href='/profile', style='text-decoration: none')
            .settings-section
              b Hồ sơ
          a(href='/account', style='text-decoration: none')
            .settings-section
              b Tài khoản
          a(href='/result', style='text-decoration: none')
            .settings-section
              b Thành tích
          a(href='/setting', style='text-decoration: none')
            .settings-section
              b Cài đặt
        a(href='/logout', style='text-decoration: none')
          .settings-section
            b Đăng xuất
    #body(style='position: relative;')
      h1 Caro
      #caro(style='position:relative;')
        h2 Chọn thể loại trò chơi
        .mid
          // <input name="a" id="a" type="text" />
          button#btn1
            strong ĐẤU NGƯỜI
          button#btn2(style='margin-top: 20px;')
            strong ĐẤU MÁY
          //- 
            <button id="btn2">15x15</button>
            <button id="btn3">20x20</button>
      //- #ads_39741.adxzone(style='position: absolute; top: 70px; left: 0; width: 300px; height: 250px;')
      //-   script(src='https://admicro1.vcmedia.vn/core/admicro_core_nld.js')
      //-   #adxzone_39741
      //-   script(type='text/javascript', src='../javascript/adx_300x250_2_new_300818.js')
      //-   script(type='text/javascript', src='../javascript/data.js')
      //-   script.
      //-     window["adx_980_footer_39741"] = new AdmZones_adxzone;
      //-     window[ "adx_980_footer_39741" ].OnLoaded({
      //-     formatName: '',
      //-     ZONEID: 39741,
      //-     sspid: 480,
      //-     type: "adx",
      //-     size: '980x250',
      //-     adn: !0,
      //-     is_db: 0,
      //-     ext:  null,
      //-     df: data
      //-     })
      //- #ads_39742.adxzone(style='position: absolute; top: 70px; right: 0; width: 300px; height: 250px;')
      //-   script(src='https://admicro1.vcmedia.vn/core/admicro_core_nld.js')
      //-   #adxzone_39742
      //-   script(src='../javascript/adx_300x250_2_new.js')
      //-   script.
      //-     window["adx_980_footer_39742"] = new AdmZones_adxzone;
      //-     window[ "adx_980_footer_39742" ].OnLoaded({
      //-     formatName: '',
      //-     ZONEID: 39742,
      //-     sspid: 480,
      //-     type: "adx",
      //-     size: '980x250',
      //-     adn: !0,
      //-     is_db: 0,
      //-     ext:  null,
      //-     df: data
      //-     })
    script(type='text/javascript', src='/javascript/account.js')
    script(src='/javascript/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/socket.js')
    script(src='/javascript/session.js')
