doctype html
// client
html
  head
    title Caro
    link(rel='stylesheet', type='text/css', href='/styles/caro.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
  body(style='background-color : #f5f6f7')
    .header
      a.header-btn.logo(href='/caro')
        i.fas.fa-home(style='font-size: 100%;color: white; margin: auto 6px;')
      #account.account
      .account-click
        #user-info.user-info #{username}
        .border-bottom
          a(href='/profile' style='text-decoration : none')
            .settings-section
              b Hồ sơ
          a(href='/account' style='text-decoration : none')
            .settings-section
              b Tài khoản
          a(href='/result' style='text-decoration : none')
            .settings-section
              b Thành tích
          a(href='/setting' style='text-decoration : none')
            .settings-section
              b Cài đặt
        a(href='/logout' style='text-decoration : none')
          .settings-section
            b(style='color : black') Đăng xuất
    div#profile(style='width: 1000px; margin: 0 auto; padding: 8px; padding-top: 40px;')
      div(style='font-size: 30px; color: blue; width: 100%;margin-left: 40px;') 
        b THÔNG TIN TÀI KHOẢN
      div#content(style='margin-top: 10px; width: 100%; display: flex; height: 250px;')
        div(style='width: 35%; background-color: white; align-items: center;')
          form(action='/changeok', method='POST', style='margin-top: 20px')
            .form-group(style='margin-right: 15px; margin-left: 15px; margin-bottom: 15px;')
              label.col-sm-2.control-label(style='float: left; width: 80px;') Username
              .col-sm-8
                input.form-control(type='text', readonly='', placeholder='username', name='username', value="")
            .form-group(style='margin-right: 15px; margin-left: 15px; margin-bottom: 15px;')
              label.col-sm-2.control-label(style='float: left; width: 80px;') Mật khẩu
              .col-sm-8
                input.form-control(type='text', placeholder='password', name='password', value="")
            .form-group(style='margin-right: 15px; margin-left: 15px; margin-bottom: 15px;')
              label.col-sm-2.control-label(style='float: left; width: 80px;') Tên
              .col-sm-8
                input.form-control(type='text', placeholder='name', name='name', value="")
            .form-group(style='margin-right: 15px; margin-left: 15px; margin-bottom: 15px;')
              label.col-sm-2.control-label(style='float: left; width: 80px;') Email
              .col-sm-8
                input.form-control(type='text', placeholder='email', name='email', value="")
            .form-group
              button(style='margin-left: 160px;' onclick='change()') Sửa thông tin
                //- a(style='text-decoration: none; color: blue;' href='/change') Sửa thông tin
    
        //- div(style='width: calc((100% * 0.65) - 20px); margin-left: 20px; background-color: white;')
        //-   div(style='') 
        //-     div Tỉ lệ thắng thua
        //-     div(style='background-color: #365899; color: white; display: flex;')
        //-       div(style='flex: 1 1; text-align: center;') 
        //-         div Đã chơi
        //-         div 10
        //-       div(style='flex: 1 1; text-align: center;') 
        //-         div Thắng
        //-         div 8
        //-       div(style='flex: 1 1; text-align: center;')  
        //-         div Tỉ lệ thắng
        //-         div 80%
        //-   div Lịch sử chơi
        //-     div(style='background-color: #365899; color: white; display: flex;')
        //-       div.img-play(style='flex:1 1')
        //-       div() Vs.
        //-       div(style='flex:1 1') Ánh
        //-       div(style='flex:1 1') WIN
    script(type='text/javascript', src='/javascript/account.js')
    script(src='/javascript/jquery-1.10.2.min.js')
    // <script type="text/javascript" src="/javascript/caro.js"></script>
    //- script(src='/socket.io/socket.io.js')
    script(src='/javascript/socket.js')
    script(src='/javascript/session.js')
    script(src='/javascript/account_inf.js')
    script(src='/javascript/account_change.js')


