body {
  margin: 0;
  line-height: 1.3; }
  body .tbl, body #body #caro table, body #body #caro table tr td {
    border: 2px solid black;
    border-collapse: collapse; }
  body .header {
    width: 100%;
    height: 32px;
    padding: 4px;
    background-color: #026aa7;
    position: fixed; }
    body .header .header-btn {
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.3);
      line-height: 32px;
      color: white; }
    body .header .logo {
      position: absolute;
      height: 32px;
      width: 32px;
      top: 4px;
      left: 4px; }
    body .header .account {
      position: absolute;
      top: 4px;
      right: 14px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: red;
      cursor: pointer; }
    body .header .account-click {
      display: none;
      opacity: 0;
      position: absolute;
      top: 44px;
      right: 14px;
      width: 280px;
      background-color: #f5f5f5;
      cursor: none; }
      body .header .account-click .user-info {
        background-color: #9e9e9e;
        padding: 16px; }
      body .header .account-click .border-bottom {
        border-bottom: 1px solid white; }
      body .header .account-click .settings-section {
        padding: 8px 16px;
        color: black;
        line-height: 1.4; }
        body .header .account-click .settings-section:hover {
          background-color: #298fca;
          color: white; }
    body .header .account-toggle {
      display: block;
      opacity: 1;
      cursor: pointer; }
  body #body {
    padding-top: 60px; }
    body #body h1 {
      text-align: center;
      margin-top: 5px;
      width: 100%; }
    body #body #caro {
      margin: 0 auto; }
      body #body #caro h2 {
        text-align: center;
        margin-top: 5px;
        width: 100%; }
      body #body #caro .mid {
        width: 220px;
        margin: 0 auto; }
        body #body #caro .mid button {
          font-family: 'Times New Roman', Times, serif;
          width: 220px;
          height: 70px;
          margin: 0 5px;
          font-size: 200%;
          border-radius: 20px;
          color: white;
          cursor: pointer;
          background: #7000ffb3;
          border: none;
          transition: 0.2s; }
          body #body #caro .mid button:hover {
            padding-bottom: 10px; }
      body #body #caro table {
        margin: 0 auto;
        font-family: Arial;
        font-size: 20px;
        line-height: 20px; }
        body #body #caro table tr td {
          background-color: white;
          width: 30px;
          height: 30px;
          text-align: center; }
      body #body #caro .table td:hover {
        background-color: blue; }

/*# sourceMappingURL=caro.css.map */
