body {
	margin: 0;
	line-height: 1.3;
	.tbl {
		border: 2px solid black;
		border-collapse: collapse;
	}
	.header {
		width: 100%;
		height: 32px;
		padding: 4px;
		background-color: #026aa7;
		position: fixed;
		.header-btn {
			border-radius: 3px;
			background-color: hsla(0,0%,100%,.3);
			line-height: 32px;
			color: white;
			
		}
		.logo {
			position: absolute;
			height: 32px;
			width: 32px;
			top: 4px;
			left: 4px;
		}
		.account {
			position: absolute;
			top: 4px;
			right: 14px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: red;
			cursor: pointer;
		}
		.account-click {
			display: none;
			opacity: 0;
			position: absolute;
			top: 44px;
			right: 14px;
			width: 280px;
			background-color: #f5f5f5;
			cursor: none;
			.user-info {
				background-color: #9e9e9e;
				padding: 16px;
		
			}
			.border-bottom {
				border-bottom: 1px solid white;
			}
			.settings-section {
				padding: 8px 16px;
				color: black;
				line-height: 1.4;

				&:hover{
				    background-color: #298fca;
				    color: white;
				};
			}
		}
		.account-toggle {
			display: block;
			opacity: 1;
			cursor: pointer;
		} 
		
	}
	#body {
		padding-top: 60px;
		h1 {
			text-align: center;
			margin-top: 5px;
			width: 100%;
		}
		#caro {
			margin: 0 auto;
			
			h2 {
				text-align: center;
				margin-top: 5px;
				width: 100%;
			}
			.mid {
				width: 220px;
				margin: 0 auto;
				button {

					font-family: 'Times New Roman', Times, serif;
					width: 220px;
					height: 70px;
					margin: 0 5px;
					font-size: 200%;
					border-radius: 20px;
					color: white;
					cursor: pointer;
					background: #7000ffb3;
					border: none;
					transition: 0.2s;
					&:hover{
						padding-bottom: 10px;
					};
				}
			}
			table {
				margin: 0 auto;
				font-family: Arial;
				font-size: 20px;
				line-height: 20px;
				
				@extend .tbl;
				tr {
					td {
						@extend .tbl;
						// bgColor: white;
						background-color: white;
						width: 30px;
						height: 30px;
						text-align: center;
						
					}
				}
			}
			.table{
				td{
					&:hover{
							background-color: blue;
						};
				}	
			}
		}
	}
	
}